// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your page container, using the frontend toolkit grid layout.

// Content wraps the entire site content block, between the header and footer.
// See elements _layout.scss line 8.
#content {
  @include site-width-container;
  @include contain-floats;
  display: block;
  padding-bottom: $gutter;
  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}

// Here's an example heading
// See elements _typography.scss line 11.
#content h1 {
  @include bold-48();
  margin-top: $gutter-half;
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-top: $gutter;
    margin-bottom: $gutter*2;
  }
}

.inner-heading {
  padding: 45px 0;
  font-size: 160%;
  overflow: auto;
}


.metadata-list {
  font-weight: normal !important;
  @include media(tablet) {
    float: left;
    width: 66.66667%;
  }

  dl {
    display: inline;
    font-family: "nta","GDS-Regular",sans-serif;
    font-size: 14px;
    line-height: 1.4285714286;
    text-transform: none;
    padding-top: 6px;
    padding-bottom: 4px;
  }
  dl dd {
    float: left;
    display: block;
    width: 50%;
    margin-bottom: 5px;
    @include media(tablet) {
      width: 70%;
    }
  }
  dl dt {
    width: auto;
    min-width: 120px;
    padding-right: 10px;
    clear: left;
    float: left;
  }
}

.type {
  font-family: "nta","GDS-Regular",sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  color: #6f777b;
  margin-bottom: 5px;
}

.summary {
  @include core-24;
  padding-bottom: 45px;
}

.summary-content {
  @include core-19;

  @include media(tablet) {
    width: 66.66666%;
  }

  li {
    list-style-type: disc !important;
    margin-left: 20px;

    @include media(tablet) {
      margin-left: 0px;
    }
  }
}

.content-fixed {
  position: fixed;
  top: 0;
}
.shim {
  display: block;
}


.detail-block {
  margin-bottom: 30px;
}

.detail-block p {
  font-size: 16px;
}

.detail-block h2 {
  font-size: 19px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 40px;
}

.detail-block h2 a {
  text-decoration: none;
}


.head-section {
  width: 33.333333%;
}

.head-section h2 {
  font-size: 27px;
  font-weight: bold;
}

.detail-block .metadata {
  @include bold-24;
  margin-top: -15px;
}

.metadata-sub {
  font-size: 23px;
  font-color: $grey-3;
  margin-top: -30px;
  margin-bottom: 50px;
}

.prev {
  font-weight: normal;
}

.content-section {
  float: left;
  width: 66.6666%;
  font-size: 19px;
  height: auto;
}

.content-section ul {
  list-style: disc;
  list-style-position: outside;
  font-family: "nta","GDS-Regular",sans-serif;
  line-height: 1.31579;
  text-transform: none;
  padding-top: 7px;
  padding-bottom: 3px;
}

.head-section a {
  text-decoration: none;
}

.block-wrapper {
  overflow: auto;
  margin-bottom: 60px;
}

.block-wrapper h2 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
}


.left-block {
  float: left;
  width: 30%;
}

.left-block li {
  float: left;
  width: auto;
  margin-bottom: 15px;
  margin-left: -15px;
  font-size: 16px;
}

.left-block a {
  text-decoration: none;
}

.right-block {
  float: left;
  width: 60%;
  margin-left: -80px;
  overflow: hidden;
}


/*
.right-block h2 {
font-size: 19px;
font-weight: bold;
margin-bottom: 20px;

}


.left-block h2 {
font-size: 19px;
font-weight: bold;
margin-bottom: 20px;
}

*/

.right-block ol {
  list-style-type: decimal !important;
  padding-left: 40px;}

  .right-block li {
    position: relative;
    margin-left: 80px;
    margin-bottom: 45px;
    font-size: 24px;
  }

  /*
  .right-block li:before {
  content: "";
  display: block;
  color: $grey-3;
  float: left;
  height: 80px;
  width: 40px;
  border: 1px solid $grey-2;
  background: $grey-3;
  padding: 20px;
  position: absolute;
  left: -120px;
  top: -3px;
}
/*
/*
.pub-type-img {
float: left;
height: 60px;
width: 40px;
border: 1px solid $grey-2;
background: $grey-3;
padding: 10px;
margin-right: 40px;
margin-left: -40px;
display: block;
}
*/

.more {
  font-size: 19px !important;
  font-weight: bold;
}

.updates {
  @include grid-column( 1/6 );
}

.changelog {
  @include grid-column( 5/6 );

  .datetime {
    @include grid-column( 1/5 );

  }
  .changes {
    @include grid-column( 4/5 );
    font-size: 16px;
    margin-top: -9px;
  }

  .morebutton {
    clear: both;
    float: left;
    width: 90%;
    padding-top: 10px;
    border-bottom: 1px solid $grey-2;
  }

}

.changelog-two {
  overflow: auto;
  display: block;
  width: 100%;
  height: 100%;
  clear: both;
}

.changelog-two h2 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 20px;
}

.changes {

}


.changes a {
  text-decoration: none;
}

.datetime {
  margin-top: -11px;
  font-size: 19px !important;
  font-weight: bold;
}


.docuprice {
  font-size: 14px;
  display: block;
  @include media(tablet) {
    display: inline;
    margin-left: 10px;
  }

}


/* Index Two */


.container {
  width: 100%;
  overflow: hidden;
  clear: both;
}


.pub-title {
  @include media(tablet) {
    float: left;
    width: 65.666%;
    margin-bottom: 40px;
  }


  p {
    @include bold-24;
    margin-top: -1px;
    margin-bottom: 3px;
    margin-right: 60px;

    @include media(tablet) {
      font-weight: bold;
    }
  }
}

a {
  text-decoration: none;
}

.pub-date {
  display: block;
  @include core-19;
  font-weight: normal;
  @include media(tablet) {
    @include core-16;
  }
}



.pub-metadata {
  line-height: 1.25;
  margin-bottom: 40px;
  @include media(tablet) {
    width: 33.333%;
    float: left;
    &:last-child {
      margin-bottom: 40px;
    }
  }

  .docutype {
    @include core-19;
    font-weight: normal;
    margin-right: 5px;
    @include media(tablet) {
      display: block;
      @include core-24;
      font-weight: bold;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
}


.view-all {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 60px;
}



.request {
  font-size: 14px;
  display: block;

}

.docuref {
  font-size: 14px;
  color: $grey-1;
}

.download-links {
  @include core-19;
}

.download-links a {
  margin-right: 20px;
  font-weight: bold;
}


dd {
  font-color: $grey-3;
}

nav li:before {
  position: relative;
  float: left;
  width: 15px;
}

.metadata-info {
  font-size: 14px;
}

.contents-list ol {
  list-style-type: decimal !important;
  padding-left: 40px;
  font-size: 14px;
}

.time {  font-weight: normal;
  font-size: 16px;
}


.metadata {
  overflow: hidden;
  width: 100%;
  clear: both;
}

.part-of {
  @include grid-column( 2/3 )
}

.department {
  @include grid-column( 1/3 )
}



.metadata h2 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
}

.metadata p {
  font-size: 16px;
}



// Set up the phase banner
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
  strong {
    text-transform: uppercase;
  }
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.
