{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
	<header class="page-header">
		<div class="inner-heading">
			<p class="type">Research and analysis</p>
			<h1>School business manager learning programmes evaluation</h1>
			<div>
				<aside class="meta metadata-list">
					<dl class="js-track-metadata-links" data-trackposition="top">
						<dt>From:</dt>
						<dd class="js-hide-extra-metadata"><a href="/government/organisations/department-for-education" class="organisation-link">Department for Education</a></dd>





						<dt>First published:</dt>
						<dd><abbr class="date" title="2014-09-25T09:31:00+01:00">25 September 2014</abbr></dd>

						<dt>Last updated:</dt>
						<dd><abbr class="date" title="2014-09-25T09:31:00+01:00">12 November 2014</abbr>, <a href="#updates">see all updates</a></dd>


						<dt>Part of:</dt>
						<dd class="js-hide-extra-metadata"><a href="/government/policies/improving-the-quality-of-teaching-and-leadership" class="policy-link">Improving the quality of teaching and leadership</a></dd>
					</dl>

				</aside>
			</div>
		</header>


		<div class="summary">
			<p>Results of a 3-year project to evaluate the implementation and outcomes of the school business manager/director learning programmes.</p>
			<div class="detail">
				<div class="summary-content">
					<p>These documents review:</p>

					<ul>
						<li>the effects on participant development</li>
						<li>the effects on participants’ schools</li>
						<li>the strengths and weaknesses of the programme</li>
						<ul>
						</span>
					</div>
				</div>
			</div>
		</div>



	</div>
</div>




<div class="block-wrapper">


	<div class="container">


		<h2>Documents</h2>

		<div class="pub-title">
			<p>School business manager learning programmes evaluation: final summary report</p>
			<span class="download-links"><a href="#">View online</a> <a href="#">Download</a></span>

			<span class="pub-date">Updated 8 September 2014</span>
			<span class="docuref">
				Ref: ISBN 879-1-78105-300-3, DFE-RR335
			</span>

		</div>

		<div class="pub-metadata">
			<span class="docutype">ODS</span>
			39.2KB</span>
			<span class="request">This file is in an <a href="https://en.wikipedia.org/wiki/OpenDocument_software">OpenDocument format</a>

				<span class="request">This file may not be suitable for users of assistive technology. <a href="#">Request a different format</a>
				</span>


			</p>
		</div>

	</div>





	<div class="pub-title">
		<p><a href="#">School business managers programmes evaluation: case study report -
			school business directors (SBD) in schools/federations in receipt of a primary partnership grant</a></p>
			<span class="pub-date">Updated 12 September 2014</span>
			<span class="docuref">Ref: ISBN 978-1-78105-343-0, DFE-RR335D
				<span class="docuprice"><a href="#">Order a copy</a> (£6.25)</span>

			</div>


			<div class="pub-metadata">
				<span class="docutype">PDF</span>
				475KB, 45 pages
			</span>
			<span class="request">This file may not be suitable for users of assistive technology. <a href="#">Request a different format</a>
			</span>
		</div>



		<div class="pub-title">
			<p>
				<a href="#">School business managers programmes evaluation: case study report - school business director pilot programme</a>
			</p>
			<span class="pub-date">Published 30 August 2014</span>
			<span class="docuref">Ref: ISBN 978-1-78105-343-0, DFE-RR335D</span>


		</p>
	</div>

	<div class="pub-metadata">
		<span class="docutype">PDF</span>
		475KB, 45 pages
	</span>
	<span class="request">This file may not be suitable for users of assistive technology. <a href="#">Request a different format</a>
	</div>



	<div class="pub-title">
		<p>
			<a href="#">School business managers programmes evaluation: case study report - school business manager programme</a>
		</p>
		<span class="pub-date">Updated 3 November 2014</span>
		<span class="docuref">Ref: ISBN 978-1-78105-343-0, DFE-RR335D</span>

	</p>
</div>

<div class="pub-metadata">
	<span class="docutype">PDF</span>
	475KB, 45 pages
</span>
<span class="request">This file may not be suitable for users of assistive technology. <a href="#">Request a different format</a>
</div>



<div class="pub-title">
	<p>
		<a href="#">School business managers programmes evaluation: case study report - school business manager programme</a>
	</p>
	<span class="pub-date">Published 30 August 2014</span>
	<span class="docuref">Ref: ISBN 978-1-78105-345-4, DFE-RR335F</span>


</p>
</div>

<div class="pub-metadata">
	<span class="docutype">PDF</span>
	2.09MB, 38 pages
</span>
<span class="request">This file may not be suitable for users of assistive technology. <a href="#">Request a different format</a>
</div>




<div class="pub-title">
	<p>
		<a href="#">School business managers programmes evaluation: case study report - school business manager programme</a>
	</p>
	<span class="pub-date">Published 30 August 2014</span>
	<span class="docuref">Ref: ISBN 978-1-78105-345-4, DFE-RR335F</span>


</div>

<div class="pub-metadata">
	<span class="docutype">PDF</span>
	2.09MB, 38 pages
</span>
<span class="request">This file may not be suitable for users of assistive technology. <a href="#">Request a different format</a>
</div>



<div class="pub-title">
	<p>
		<a href="#">School business managers programmes evaluation: case study report - school business manager programme</a>
	</p>
	<span class="pub-date">Updated 30 October 2014</span>
	<span class="docuref">Ref: ISBN 978-1-78105-345-4, DFE-RR335F</span>


</div>

<div class="pub-metadata">
	<span class="docutype">PDF</span>
	2.09MB, 38 pages
</span>
<span class="request">This file may not be suitable for users of assistive technology. <a href="#">Request a different format</a>
</div>


<div class="pub-title">
	<p>
		<a href="#">School business managers programmes evaluation: case study report - school business manager programme</a>
	</p>
	<span class="pub-date">Updated 2 November 2014</span>
	<span class="docuref">Ref: ISBN 978-1-78105-345-4, DFE-RR335F</span>
</div>

<div class="pub-metadata">
	<span class="docutype">PDF</span>
	2.09MB, 38 pages
</span>
<span class="request">This file may not be suitable for users of assistive technology. <a href="#">Request a different format</a>
</div>








</div>





</div>
</div>

<div class="detail-block">
	<div class="head-section">

		&nbsp;
	</div>

	<!--
	<div class="content-section">

	<p>From:</p>

	<h2 class="metadata"><a href="#">Department for Education</a></h2>
	<p>
	Part of:
</p>


<h2 class="metadata">
<a href="#">Improving the quality of teaching and leadership</a>
</h2>
</div>
</div>
</div>
-->


<div class="detail-block">
	<div class="head-section">

		<!-- <p class="metadata-sub">12 November 2014</p> -->


	</div>


	<div id="content">


		<div class="metadata">

			<div class="pub-dept">
				<p>From:</p>

				<h2 class="metadata"><a href="#">Department for Education</a></h2>
			</div>

			<div class="pub-from">

				<p>
					Part of:
				</p>


				<h2 class="metadata">
					<a href="#">Improving the quality of teaching and leadership</a>
				</h2>
			</div>



			<div class="detail-block">
				<p>Updates:</p>
				<h2 class="updates">2014</h2>
				<div class="changelog">
					<p class="datetime">12 November </br><span class="time">11:44am</span></p>
					<p class="changes">Various links updated. 3.22 QTLS - maintained IfL registration requirement included. Page 7, 3.33, 4.14, 4.21, 4.39 Revision to the FSM uplift qualifying criteria. 4.22 Reference to the ITT Grant funding offer letter and Grant Funding Terms included. 4.34 ITT extranet information updated. 4.27, 4.31 and 4.52 Funding and trainee data reconciliation process updated and clarified. 4.46 Salaried Troops 2 Teach uplift payment date clarified. Page 36 additional contact email addresses added.</p>
					<p class="datetime">11 November</br><span class="time">12:37pm</span></p>
					<p class="changes">Daily update of the list</p>
					<p class="datetime">10 November</br><span class="time">12:02pm</span></p>
					<p class="changes">Replaced data file to fix incorrect coding within the data files relating to statutory low age, statutory high age and school phase.</p>
					<p class="morebutton"><span class="more"><a href="#">+ 28 more changes</a></span></p>

				</div>
			</div>
		</div>

		<div class="metadata">

			<div class="detail-block">
				<p>First published:</p>
				<h2 class="updates">2013</h2>
				<div class="changelog">
					<p class="datetime">18 November </br><span class="time">11:44am</span></p>


				</div>
			</div>
		</div>



	</div>
</div>


</div>
</div>

</main>
{{/content}}

{{/layout}}


	</div>

</main>
